.outer{
    background-color: #ccddff;
    height: 2600px;
    padding:4%;
}

.my-pic{
    height:15%;
    width :30%;
    margin:-12% 30% 0% 35%;
}

.thin-black-border{
    border-color: #4da6ff;
       border-width: 5%;
        border-style: solid;
    border-radius: 50% ;
}

.footer{
    padding:2%; 
    height:35%;
    background-color:black;
}

a:link, a:visited {
  color: #4da6ff;
  text-decoration: none;
}

a:hover {
    color: green;
  text-decoration: none;
}
